d-i keyboard-configuration/toggle select No toggling
d-i debian-installer/keymap string skip-config
d-i keymap select us
d-i keyboard-configuration/xkb-keymap select us
keyboard-configuration keyboard-configuration/xkb-keymap select us

d-i debian-installer/language string en
d-i debian-installer/country string RU
d-i debian-installer/locale select en_US.UTF-8
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select American English
d-i debian-installer/keymap string us

d-i hw-detect/load_firmware boolean false
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/get_domain seen true

d-i mirror/country string RU
d-i mirror/protocol string http
d-i mirror/http/hostname string mirror.yandex.ru
d-i mirror/http/directory string /debian/
d-i mirror/http/proxy string <>
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow
d-i clock-setup/ntp boolean true
####### d-i clock-setup/ntp-server string
d-i passwd/root-password password root
d-i passwd/root-password-again password root
d-i passwd/make-user boolean true
passwd          passwd/md5              boolean false
passwd          passwd/shadow           boolean true
popularity-contest popularity-contest/participate boolean false
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto/disk string /dev/vda
d-i partman-auto/choose_recipe select atomic

#d-i partman-auto/init_automatically_partition select biggest_free
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i apt-setup/non-free boolean true

#d-i apt-setup/local0/repository string http://ftp.ru.debian.org/debian stretch main
tasksel tasksel/first multiselect
d-i base-installer/install-recommends boolean false
#

#List of packages
#
d-i pkgsel/include string ssh sudo less psmisc smartmontools rsync localepurge ntp ntpdate \
gnupg wget \
libc6 libx11-6 zlib1g libglib2.0-0 libxrandr2 libxinerama1 libgl1-mesa-glx libgl1 libgtk2.0-0 \
libatk-wrapper-java-jni libasound2 libc6 libgif7 libjpeg62-turbo libpng16-16 libpulse0 \
libx11-6 libxext6 zlib1g fonts-dejavu-extra libcups2 liblcms2-2 libjpeg62-turbo libfontconfig1 \
libnss3 util-linux libc6 libfreetype6 libgcc1 libpcsclite1 libstdc++6 libx11-6 libxext6 libxi6 \
libxrender1 libxtst6 zlib1g java-common openssl ca-certificates runit-helper \
fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei fonts-wqy-zenhei fonts-indic
#
#
#
####d-i passwd/user-fullname string
####d-i passwd/username string
####d-i passwd/user-password-crypted password
d-i grub-installer/bootdev string /dev/vda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i finish-install/reboot_in_progress note
exim4-config   exim4/dc_eximconfig_configtype  select  mail sent by smarthost; no local mail
exim4-config   exim4/hide_mailname     boolean true
##### exim4-config   exim4/dc_smarthost      string
exim4-config   exim4/dc_readhost       string
#

Install OpenJDK-8 and Tomcat-8
#
d-i preseed/late_command string \
cd /target/etc/apt/; \
#####echo 'Acquire::http::Proxy::##### DIRECT;' >> apt.conf; \
echo 'APT::Get::no-upgrade;' >> apt.conf; \
####echo 'deb http://####/repo/ /' >> sources.list; \
echo 'deb http://ftp.ru.debian.org/debian/ sid main' >> sources.list; \
in-target wget --no-proxy http://#####/repo/KEY.gpg; \
in-target apt-key add KEY.gpg; \
in-target apt-get update; \
in-target apt-get -y install openjdk-8-jdk tomcat8; \
in-target sed -i '/ftp.ru.debian.org/d' /etc/apt/sources.list; \
in-target apt-get update;